deep_translator==1.11.4
einops==0.7.0
faiss_cpu==1.7.4
Flask==2.3.1
Flask_FontAwesome==0.1.5
nltk==3.8.1
numpy==1.26.3
Pillow==10.2.0
redis==5.0.1
safetensors==0.3.3
sentence_transformers==2.2.2
tqdm==4.66.1
transformers==4.36.2
Werkzeug==3.0.1
