{% extends '__layout.html' %}
{% block content_html %}
<div id="list_view_container" class="container" {{ list_view_container_style }}>
    <div class="row mt-4">
        {% include "__list_columns.html" %}
    </div>
    <div class="row">
        {% include "__folder_list.html" %}
    </div>
    <div class="row mt-4">
        <h5></h5>
    </div>
    <hr>
    <div class="row mt-4"></div>
    <div class="row">
        {% include "__file_list.html" %}
    </div>
</div>
{% endblock content_html %}