{% if file_dict %}
{% for file in file_dict %}
<div class="col-md-2 col-sm-4 col-6 mt-2">
    <div class="thumbnail hvr-shadow">
        <a href="/file/{{file.current_path}}/{{file.url}}">
            <img src='/static/{{file.icon}}' class='img-thumbnail' style="border:0px;" />
            <p style="color:black; text-align:center; text-decoration:none;">
                <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{file.name}}">
                    {{ file.display_name }}
                </p>
            </p>
        </a>
    </div>
</div>
{% endfor %}
{% else %}
<p style="color:black; margin:auto; margin-top:30px">没有文件</p>
{% endif%}