{% if dir_dict %}
{% for dir in dir_dict %}
<div class="col-md-2 col-sm-4 col-6 mt-2">
    <div class="thumbnail hvr-shadow">
        <a href="/library/{{dir.current_path}}/{{dir.url}}">
            <img src='/static/{{dir.icon}}' class='img-thumbnail' style="border:0px;" />
            <p style="color:black; text-align:center; text-decoration:none;">
                <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{dir.name}}">
                    {{ dir.display_name }}
                </p>
            </p>
        </a>
    </div>
</div>
{% endfor %}
{% else %}
<p style="color:black; margin:auto; margin-top:30px">没有目录</p>
{% endif %}