{% extends 'layout.html' %}
{% block content %}
<div id="view0_container" class="container" {{ default_view_css_1 }}>
    <div class="row">
        <h5></h5>
    </div>
    <div class="row">
        {% for dir in dir_dict %}
        <div class="col-md-2 col-sm-4 col-6 mt-2">
            <div class="thumbnail hvr-shadow">
                <a href="/library/{{dir.current_path}}/{{dir.url}}"><img src='/static/{{dir.icon}}'
                        class='img-thumbnail' style="border:0px;" />
                    <p style="color:black; text-align:center; text-decoration:none;">
                        <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{dir.name}}">
                            {{ dir.display_name }}
                        </p>
                    </p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-4">
        <h5></h5>
    </div>
    <hr>
    <div class="row">
        {% for file in file_dict %}
        <div class="col-md-2 col-sm-4 col-6 mt-2">
            <a data-toggle="tooltip" data-placement="left" title="Send to Phone" id="qrphone"
                href="/qr/{{file.current_path}}/{{file.url}}"><img src="/static/phone-download.png"
                    style="width:15px;height:15px;"></a>
            <div class="thumbnail hvr-shadow">
                <a href="/download/{{file.current_path}}/{{file.url}}"><img src='/static/{{file.icon}}'
                        class='img-thumbnail' style="border:0px;" />
                    <p style="color:black; text-align:center; text-decoration:none;">
                        <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{file.name}}">
                            {{ file.display_name }}
                        </p>
                    </p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="view1_container" class="container" {{ default_view_css_2 }}>
    <div class="row mt-4">
        <div class="col-3 mb-2" style=" text-align:center;"><b>Name</b>
            <hr>
        </div>
        <div class="col-3" style=" text-align:center;"><b>Created Time</b>
            <hr>
        </div>
        <div class="col-3" style=" text-align:center;"><b>Modified Time</b>
            <hr>
        </div>
        <div class="col-3" style=" text-align:center;"><b>Size</b>
            <hr>
        </div>
    </div>
    <div class="row">
        {% for dir in dir_dict %}
        <div class="col-3" style="margin-bottom:-10px">
            <a href="/library/{{dir.current_path}}/{{dir.url}}">
                <img src='/static/{{dir.icon}}' style="position:absolute; height:25px; width:25px; border:0px;" />
                <p style="margin-left:35px; color:black; text-align:left; text-decoration:none;">
                    {{dir.display_name}}</p>
            </a>
        </div>
        <div class="col-3" style="margin-bottom:-10px">
            <p style="margin-left:45px;">{{dir.dtc}}</p>
        </div>
        <div class="col-3" style="margin-bottom:-10px">
            <p style="margin-left:45px;">{{dir.dtm}}</p>
        </div>
        <div class="col-3" style="margin-bottom:-10px; ">
            <p style="margin-left:110px;">{{dir.size}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-4">
        <h5></h5>
    </div>
    <hr>
    <div class="row mt-4"></div>
    <div class="row">
        {% for file in file_dict %}
        <div class="col-3" style="margin-bottom:-10px">
            <a href="/download/{{file.current_path}}/{{file.url}}">
                <img src='/static/{{file.icon}}' style="position:absolute; height:25px; width:25px; border:0px;" />
                <p style="margin-left:35px; color:black; text-align:left; text-decoration:none;">
                    {{file.display_name}}</p>
            </a>
        </div>
        <div class="col-3" style="margin-bottom:-10px">
            <p style="margin-left:45px;">{{file.dtc}}</p>
        </div>
        <div class="col-3" style="margin-bottom:-10px">
            <p style="margin-left:45px;">{{file.dtm}}</p>
        </div>
        <div class="col-3" style="margin-bottom:-10px; ">
            <p style="margin-left:110px;">{{file.size}}</p>
        </div>
        {% endfor %}
    </div>
</div>
<!-- INLINE CODE EXIT -->
<!-- 
		{% autoescape false %}
		{{dirList}}
		{% endautoescape %} -->
<!-- {% for f in dirList %}
        <div class="col-md-2 col-sm-4 col-6 mt-2">
                <div class="thumbnail hvr-shadow">
                    <a href="/library/{{current_path}}/{{ f }}"><img src = '/static/library5.png' class='img-thumbnail' style="border:0px;"/><p style="color:black; text-align:center; text-decoration:none;">{{f[:15]}}</p></a>
                </div>
        </div>
    {% endfor %} -->
<!-- </div> -->
<!-- </div> -->
<!-- 
<div class='container'>
    <div class = 'row mt-4'>
    {% for f in fileList %}
        <div class="col-md-2 col-sm-4 col-6 mt-2">
            <div class="thumbnail hvr-glow">
                <a href="/download/{{current_path}}/{{ f }}">
                {% if ('.jpg' in  f) or ('.png' in f) %} 
                    <img src = '/static/photo-icon.png' class='img-thumbnail' style="border:0px"/>
                {% elif ('.mp4' in f) %} 
                    <img src = '/static/audio-icon.png' class='img-thumbnail' style="border:0px"/>
                {% elif ('.mp3' in f) %} 
                    <img src = '/static/audio-icon.png' class='img-thumbnail' style="border:0px"/>
                {% else %} 
                    <img src = '/static/file-test2.png' class='img-thumbnail' style="border:0px"/>
                {% endif %}
                        <p style="color:black; text-align:center;">{{f[:15]}}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
-->
{% endblock content %}