{% extends '__layout.html' %}
{% block content_html %}
{% include "__gallery_display.html" %}
<div id="grid_view_container" class="container" {{ grid_view_container_style }}>
    <div class="row">
        <h5></h5>
    </div>
    <div class="row">
        {% include "__folder_grid.html" %}
    </div>
    <div class="row mt-4">
        <h5></h5>
    </div>
    <hr>
    <div class="row">
        <!-- Gallery -->
        {% include "__gallery_grid.html" %}
    </div>
</div>
{% endblock content_html %}